<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static 'core/css/core.css' %}" />
    <title>{% block title %} {% endblock title %}</title>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'greet' %}">Yesicbap</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'product_home' %}">Product <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'blog_home' %}">Blog <span class="sr-only">(current)</span></a>
                </li>           
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'contact_home' %}">Contact <span class="sr-only">(current)</span></a>
                </li>            

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">action 1</a>
                        <a class="dropdown-item" href="#">action 2</a>
                        <a class="dropdown-item" href="#">action 3</a>
                    </div>
                </li>

          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
</header>
<body>






    {% block content %} {% endblock content %}




    <script src="{% static 'core/js/jQuery.js' %}"></script>
    <script src="{% static 'core/js/proper.js' %}"></script>
    <script src="{% static 'core/js/all.min.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.js' %}"></script>
    <script src="{% static 'core/js/core.js' %}"></script>
    <script id="dsq-count-scr" src="//yesicbap.disqus.com/count.js" async></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 400, // offset (in px) from the original trigger point
            delay: 0, // values from 0 to 3000, with step 50ms
            duration: 1000 // values from 0 to 3000, with step 50ms
        });
    </script>

</body>


<!-- Footer -->
<footer class="page-footer text-light">
    <!-- Footer Elements -->
    <div class="bg-secondary">
            <div class="container">
                <!-- Grid row-->
                <div class="row text-center flex-center">
                    <!-- Grid column -->
                        <div class="col-md-12 py-5">
                        <div class="mb-5 ">
                            <!-- Facebook -->
                            <a href="https://www.facebook.com/Yesicbap-107713864201843/" class="text-light btn btn-outline-info">
                            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!-- Twitter -->
                            <a href="https://twitter.com/yesicbap" class="text-light btn btn-outline-info">
                            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!-- Google +-->
                            <a href="https://www.youtube.com/channel/UCsx4-3k8sj68Dzx6iLurw7Q?view_as=subscriber" class="text-light btn btn-outline-info">
                            <i class="fab fa-youtube fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!--Linkedin -->
                            <a href="https://www.linkedin.com/company/yesicbap/?viewAsMember=true" class="text-light btn btn-outline-info">
                            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!--Instagram-->
                            <a href="https://www.instagram.com/p/CEHCPU1BRMz/?utm_source=ig_web_copy_link" class="text-light btn btn-outline-info">
                            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!--Pinterest-->
                            <a href="https://pin.it/GUvV2Cg" class="text-light btn btn-outline-info">
                            <i class="fab fa-pinterest fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>

                        </div>
                        </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row-->
            </div>
    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-dark text-light">All right reserved. ©2020 Copyright,
        <a href="{% url 'greet' %}" class="badge badge-secondary text-light"> yesicbap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->




</html>










