{% extends 'core/core.html' %}
{% load static %}


{% block title %} Home {% endblock title %}

{% block content %}
<section class="showcase">
    <div class="video-container">
        <video src="{% static 'core/video/video.mov' %}" autoplay muted loop></video>
    </div>
    <div class="content">
        <h1>The best way to predict the future is to create it</h1>
        <h3>I slept and I dreamed that life is all joy. I woke and I saw that life is all service. I served and I saw that service is joy.</h3>
        <a href="#about" class="mybtn">Read More</a>
    </div>
</section>

<section id="about">
    <header class="aosmain-header">
        <h1><span>Acrylic Painting</span> Gallery</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias,
          quam!
        </p>
      </header>
  
      <main class="aoscontainer">
        <section class="aoscard">
          <img src="{% static 'core/images/fig9.png' %}" alt="" />
          <div>
            <h3>Acrylic Painting One</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod error
              enim laudantium, animi veniam libero eveniet culpa unde perferendis
              illo fugit corporis, voluptatibus totam dolorum, maiores magnam
              officia. Ab, delectus.
            </p>
            <a href="#" class="aosbtn">Buy Now</a>
          </div>
        </section>
  
        <section class="aoscard" data-aos="fade-left">
          <img src="{% static 'core/images/fig9.png' %}" alt="" />
          <div>
            <h3>Acrylic Painting Two</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod error
              enim laudantium, animi veniam libero eveniet culpa unde perferendis
              illo fugit corporis, voluptatibus totam dolorum, maiores magnam
              officia. Ab, delectus.
            </p>
            <a href="#" class="aosbtn">Buy Now</a>
          </div>
        </section>
  
        <section class="aoscard" data-aos="fade-right">
          <img src="{% static 'core/images/fig9.png' %}" alt="" />
          <div>
            <h3>Acrylic Painting Three</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod error
              enim laudantium, animi veniam libero eveniet culpa unde perferendis
              illo fugit corporis, voluptatibus totam dolorum, maiores magnam
              officia. Ab, delectus.
            </p>
            <a href="#" class="aosbtn">Buy Now</a>
          </div>
        </section>
  
        <section class="aoscard" data-aos="fade-left">
          <img src="{% static 'core/images/fig9.png' %}" alt="" />
          <div>
            <h3>Acrylic Painting Four</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod error
              enim laudantium, animi veniam libero eveniet culpa unde perferendis
              illo fugit corporis, voluptatibus totam dolorum, maiores magnam
              officia. Ab, delectus.
            </p>
            <a href="#" class="aosbtn">Buy Now</a>
          </div>
        </section>
  
        <section class="aoscard" data-aos="fade-right">
          <img src="{% static 'core/images/fig9.png' %}" alt="" />
          <div>
            <h3>Acrylic Painting Five</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod error
              enim laudantium, animi veniam libero eveniet culpa unde perferendis
              illo fugit corporis, voluptatibus totam dolorum, maiores magnam
              officia. Ab, delectus.
            </p>
            <a href="#" class="aosbtn">Buy Now</a>
          </div>
        </section>
      </main>
</section>
{% endblock content %}


    